#root {
  width: 100%;
  margin: 0 auto;
  padding: 5px auto;
  /* text-align: center; */
}

.wrapper {
  display:grid;
  grid-template-columns: 100px 1fr 1fr 100px;
  grid-template-rows: 1fr 5px 1fr;
  background-color: lightgrey;
  border: 3px solid grey;
  padding: 15px;
  gap: 5px;
  width: 100%;
}

.item {
  background-color: #1e293b;
  border-radius: 5%;
  padding: 15px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.times {
  grid-column: 2;
}

.stat {
  font-size: 3rem;
}

.marketplaces {
  background-color: #1e293b;
}
.collectors {
  grid-column: 2;
  grid-row: 3;

}
.collections {
  grid-column: 3;
  grid-row: 3;
}
.transfers {
  padding-left: 30px;
  padding-right: 30px;
}

.bold-text {
  font-weight: bold;
}
.wrapper p {
  font-size: 1.5rem;
}

.navBar {
  height: 55px;
  width: 100%;
  background-color: black;
  display: flex;
  gap: 1em;
  font-size: 1.25em;
  align-items: center;
  color: yellow;
}
.home {
  margin-left: 40px
}

.transfers.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.transfers-item {
  border: 1px solid white;
  display: block;
  border-radius: 3%;
  max-width: 250px;
  min-width: 250px;
  background-color: lightgrey;
  padding: 5px;
}

.transfers-item p {
  padding: 5px;
  margin:0px;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 799px) and (max-width: 1090px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    
  }

  .item {
    max-width: 350px;
    min-width: 350px;
    max-height: 300px;
    min-height: 300px;
    padding: 5px;
    font-size: 1rem;
  }

  .item p {
    font-size: 1.25rem;
    padding: 0px;
    margin: 0px;
    
  }

  .transfers.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .transfers-item {
    border: 1px solid white;
    display: block;
    border-radius: 3%;
    max-width: 250px;
    min-width: 250px;
    background-color: lightgrey;
    padding: 0px;
  }

  .transfers-item p {
    padding: 5px;
    margin:0px;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (max-width: 798px){
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .item {
    max-width: 300px;
    min-width: 300px;
    padding: 15px;
    font-size: .75rem;
  }

  .item p {
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
    
  }

  .transfers.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .transfers-item {
    border: 1px solid white;
    display: block;
    border-radius: 3%;
    max-width: 250px;
    min-width: 250px;
    background-color: lightgrey;
    padding: 5px;
  }

  .transfers-item p {
    padding: 5px;
    margin:0px;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  
}
